*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: $font-Lato;
  font-weight: 400;
  font-size: 16px;
  color: $color-darkBlue;
  overflow-x: hidden;
}
main {
  background: #fffefd;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 7px 7px 7px 30px;
  background: #fffefd;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  display: flex;
  align-items: center;
  transition: all 0.4s linear;
  font-weight: 600;
  color: $color-darkBlue;
  svg {
    width: 36px;
    height: 36px;
    background-color: $color-orange;
    border-radius: 50%;
    fill: $color-white;
    padding: 9px 7px 9px 8px;
    transition: all 0.4s linear;
    margin-left: 20px;
  }

  &:hover {
    color: $color-white;
    background-color: $color-orange;

    svg {
      fill: $color-orange;
      background-color: $color-white;
    }
  }

  &.orange-btn {
    background-color: $color-orange;
    color: $color-white;
  }
}
.section__title {
  font-size: 36px;
  line-height: 43px;
  margin-top: 0;
  margin-bottom: 70px;
  text-align: center;
  font-family: $font-Rubik;
}

// Стили под слайдер

.slick-dots {
  position: sticky;

  li {
    background-color: #e1e1e1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: all 0.3s linear;

    &.slick-active {
      background-color: $color-yellow;
    }
  }

  button::before {
    display: none;
  }
}
.slick-arrow {
  position: static;
  background-color: $color-white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s linear;
  transform:translate(0,0%);
  &::before {
    content: "";
  }
  &:hover,
  &:focus {
    background-color: $color-orange;
    background-image: url(../img/arrow-left-white.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.slick-prev {
  background-image: url(../img/arrow-left.png);
  margin-right: 10px;
  &:hover,
  &:focus {
    transform:translate(0,0%)  rotate(360deg) ;
  }
}
.slick-next {
  background-image: url(../img/arrow-right.png);

  &:hover,
  &:focus {
    transform: translate(0,0%) rotate(180deg) ;
  }
}

// SVG-icon
#facebook {
  &-logo-word {
    fill: #fffefd;
  }

  &-logo-bg {
    fill: $color-darkBlue;
  }
}

// Кастомные select,checkbox и тд
.select-wrapper {
  position: relative;

  select {
    background: $color-white;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 25px;
    appearance: none;
    outline: none;
    border: none;
    padding: 13px 45px 13px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: $color-darkBlue;
    width: 100%;
  }

  &::after {
    content: "";
    border: solid $color-darkBlue;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    position: absolute;
    top: 35%;
    right: 20px;
  }
}

.select {
  background: $color-white;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 13px 45px 13px 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: $color-darkBlue;
  position: relative;

  &::after {
    content: "";
    border: solid $color-darkBlue;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    position: absolute;
    top: 35%;
    right: 20px;
  }

  &__body {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    display: none;
  }

  &__item {
    padding: 13px 20px 13px 20px;
    background: $color-white;
    transition: all 0.4s ease-in-out;
    &:hover {
      background: $color-grey;
    }
  }
  &:focus {
    border-radius: 5px;
    // outline-color: $color-darkBlue;

    &::after {
      transform: rotate(-135deg);
      top: 45%;
      border-color: $color-orange;
    }
  }
}
